<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>VLC</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryMovies</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>savepath</key>
		<string></string>
		<key>filename</key>
		<string></string>
		<key>start_sec</key>
		<integer>0</integer>
		<key>stop_sec</key>
		<integer>0</integer>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>Accepts a list of start and end times in seconds</string>
		<key>AMDOptions</key>
		<string>the action shold have the start and stop times set to zero if time cutting list is used</string>
		<key>AMDRequires</key>
		<string>This will require VLC.app installed in /Applications</string>
		<key>AMDResult</key>
		<string>returns the new file created</string>
		<key>AMDSummary</key>
		<string>Takes a video and crops it to the start and end time</string>
		<key>AMDWebsite</key>
		<string>https://github.com/SalamCast/</string>
	</dict>
	<key>AMIconName</key>
	<string>(* The name of the icon *)</string>
	<key>AMKeywords</key>
	<array>
		<string>vlc</string>
		<string>video</string>
		<string>crop</string>
		<string>movie</string>
	</array>
	<key>AMName</key>
	<string>VLC-cutter</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>(* Button label for user to add proposed Action, e.g. Add. *)</string>
		<key>IgnoreButton</key>
		<string>(* Button label for user not to add proposed Action, e.g. Don&apos;t Add. *)</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Karl Holz. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>AMShellScriptAction</string>
</dict>
</plist>
